<?xml version='1.0' encoding='UTF-8'?>
<maven2-moduleset plugin="maven-plugin@2.7.1">
  <actions/>
  <description>Deploy the released app in Integration&#xd;
Perform integration testing (based on Soapui)</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.18.1">
      <projectUrl>https://github.com/mthirion/fabric-cd.git/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>JOLOKIA_URL</name>
          <description></description>
          <defaultValue>http://localhost:8181/jolokia</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.4">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/mthirion/fabric-cd.git</url>
        <credentialsId>8b74965b-1255-41a5-ac32-09713bb05278</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/release</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <rootModule>
    <groupId>org.redhat.integration</groupId>
    <artifactId>getCustomer</artifactId>
  </rootModule>
  <rootPOM>getCustomer/pom.xml</rootPOM>
  <goals>fabric8:deploy -Dfabric8.jolokiaUrl=${JOLOKIA_URL} -Dmaven.test.skip=true</goals>
  <aggregatorStyleBuild>true</aggregatorStyleBuild>
  <incrementalBuild>false</incrementalBuild>
  <ignoreUpstremChanges>true</ignoreUpstremChanges>
  <archivingDisabled>false</archivingDisabled>
  <siteArchivingDisabled>false</siteArchivingDisabled>
  <fingerprintingDisabled>false</fingerprintingDisabled>
  <resolveDependencies>false</resolveDependencies>
  <processPlugins>false</processPlugins>
  <mavenValidationLevel>-1</mavenValidationLevel>
  <runHeadless>false</runHeadless>
  <disableTriggerDownstreamProjects>false</disableTriggerDownstreamProjects>
  <blockTriggerWhenBuilding>true</blockTriggerWhenBuilding>
  <settings class="jenkins.mvn.FilePathSettingsProvider">
    <path>/redhat/platforms/dev/maven/conf/settings.xml</path>
  </settings>
  <globalSettings class="jenkins.mvn.FilePathGlobalSettingsProvider">
    <path>/redhat/platforms/dev/maven/conf/settings.xml</path>
  </globalSettings>
  <reporters/>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>getCustomer_QA</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
  <prebuilders>
    <hudson.tasks.Maven>
      <targets>deploy -Dmaven.test.skip=true -DaltReleaseDeploymentRepository=nexus::default::http://127.0.0.1:8081/nexus/content/repositories/releases</targets>
      <mavenName>default</mavenName>
      <pom>getCustomer/pom.xml</pom>
      <usePrivateRepository>false</usePrivateRepository>
      <settings class="jenkins.mvn.FilePathSettingsProvider">
        <path>/redhat/platforms/dev/maven/conf/settings.xml</path>
      </settings>
      <globalSettings class="jenkins.mvn.FilePathGlobalSettingsProvider">
        <path>/redhat/platforms/dev/maven/conf/settings.xml</path>
      </globalSettings>
    </hudson.tasks.Maven>
  </prebuilders>
  <postbuilders>
    <hudson.tasks.Shell>
      <command>echo &quot;temporary copying soapui files into jenkins workspace&quot;;
mkdir -p ${WORKSPACE}/src/test/resources/soapui;
cp ${WORKSPACE}/${POM_ARTIFACTID}/src/test/resources/soapui/*.xml ${WORKSPACE}/src/test/resources/soapui/</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Maven>
      <targets>integration-test</targets>
      <mavenName>default</mavenName>
      <pom>getCustomer/pom.xml</pom>
      <usePrivateRepository>false</usePrivateRepository>
      <settings class="jenkins.mvn.FilePathSettingsProvider">
        <path>/redhat/platforms/dev/maven/conf/settings.xml</path>
      </settings>
      <globalSettings class="jenkins.mvn.FilePathGlobalSettingsProvider">
        <path>/redhat/platforms/dev/maven/conf/settings.xml</path>
      </globalSettings>
    </hudson.tasks.Maven>
    <hudson.tasks.Shell>
      <command>echo &quot;removing soapui files from jenkins workspace&quot;;
rm -rf ${WORKSPACE}/src</command>
    </hudson.tasks.Shell>
  </postbuilders>
  <runPostStepsIfResult>
    <name>SUCCESS</name>
    <ordinal>0</ordinal>
    <color>BLUE</color>
    <completeBuild>true</completeBuild>
  </runPostStepsIfResult>
</maven2-moduleset>