<?xml version='1.0' encoding='UTF-8'?>
<maven2-moduleset plugin="maven-plugin@2.7.1">
  <actions/>
  <description>Release the snapshot version</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.18.1">
      <projectUrl>https://github.com/mthirion/fabric-cd.git/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>GIT_USERNAME</name>
          <description></description>
          <defaultValue>mthirion</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>GIT_PASSWORD</name>
          <description></description>
          <defaultValue>w6dn3xrOcOUzzwl4DNnTfDmXVPRmBfcw+MrBnylODWI=</defaultValue>
        </hudson.model.PasswordParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.4">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/mthirion/fabric-cd.git</url>
        <credentialsId>8b74965b-1255-41a5-ac32-09713bb05278</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/release</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.CleanBeforeCheckout/>
      <hudson.plugins.git.extensions.impl.LocalBranch>
        <localBranch>release</localBranch>
      </hudson.plugins.git.extensions.impl.LocalBranch>
    </extensions>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <rootModule>
    <groupId>org.redhat.integration</groupId>
    <artifactId>getCustomer</artifactId>
  </rootModule>
  <rootPOM>getCustomer/pom.xml</rootPOM>
  <goals>clean</goals>
  <aggregatorStyleBuild>true</aggregatorStyleBuild>
  <incrementalBuild>false</incrementalBuild>
  <ignoreUpstremChanges>true</ignoreUpstremChanges>
  <archivingDisabled>false</archivingDisabled>
  <siteArchivingDisabled>false</siteArchivingDisabled>
  <fingerprintingDisabled>false</fingerprintingDisabled>
  <resolveDependencies>false</resolveDependencies>
  <processPlugins>false</processPlugins>
  <mavenValidationLevel>-1</mavenValidationLevel>
  <runHeadless>false</runHeadless>
  <disableTriggerDownstreamProjects>false</disableTriggerDownstreamProjects>
  <blockTriggerWhenBuilding>true</blockTriggerWhenBuilding>
  <settings class="jenkins.mvn.FilePathSettingsProvider">
    <path>/redhat/platforms/dev/maven/conf/settings.xml</path>
  </settings>
  <globalSettings class="jenkins.mvn.FilePathGlobalSettingsProvider">
    <path>/redhat/platforms/dev/maven/conf/settings.xml</path>
  </globalSettings>
  <reporters/>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>getCustomer_int</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.29">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
  <prebuilders/>
  <postbuilders>
    <hudson.tasks.Shell>
      <command>echo &quot;computing version&quot;
if [[ &quot;${POM_VERSION##*-}&quot; == &quot;SNAPSHOT&quot; ]]
then
	export RELEASE_VERSION=${POM_VERSION%-*}
else
	exit 1
fi</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Maven>
      <targets>-Dresume=false clean release:prepare -DpreparationGoals=clean -DreleaseVersion=${RELEASE_VERSION} -DdevelopmentVersion=${POM_VERSION} -Dusername=${GIT_USERNAME} -Dpassword=${GIT_PASSWORD}</targets>
      <mavenName>default</mavenName>
      <pom>getCustomer/pom.xml</pom>
      <usePrivateRepository>false</usePrivateRepository>
      <settings class="jenkins.mvn.FilePathSettingsProvider">
        <path>/redhat/platforms/dev/maven/conf/settings.xml</path>
      </settings>
      <globalSettings class="jenkins.mvn.FilePathGlobalSettingsProvider">
        <path>/redhat/platforms/dev/maven/conf/settings.xml</path>
      </globalSettings>
    </hudson.tasks.Maven>
  </postbuilders>
  <runPostStepsIfResult>
    <name>FAILURE</name>
    <ordinal>2</ordinal>
    <color>RED</color>
    <completeBuild>true</completeBuild>
  </runPostStepsIfResult>
</maven2-moduleset>